body {
  background-color: black;
  color: white;
  font-family: Arial;
  text-align: center;
  
}

h1 {
  color: orange;
}

@media (min-width: 900px) {
   .calls-out-container {
      display: flex;
      justify-content: space-between;
   }
}